body{
    background-color: #cdd1d5;
}
header{
    background-color: #487382;
    padding-top: 20px;
    text-align: center;
    height: 110px;
}
nav{
    background-color: #064860;
    height: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}
nav a{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
main{

}
.gallery {
    display: flex;
    justify-content: space-around;
}
.gallery img {
    border: 2px solid #487382;
}
footer{
    background-color: #4873823;
    text-align: center;
    padding: 10px;
}